<%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Blogs</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="family_view" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Person Id</th>
                                    <th>Blog Title</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(function(blog){ %>
                                        <tr>
                                            <td><%= blog.father %></td>
                                            <td><%= blog.mother %></td>
                                            <td><a href="/admin/relationship/edit/<%= relationship.relationship_id %>">Edit</a></td>
                                        </tr>
                                    <% }) %>
                                </tbody>                                
                        </table>
                    </div>
                </div>
            </div>          
        </div><!-- /.row -->

        
      </section><!-- /.content -->
    </div><!-- /.content-wrapper --> 
<%- include footer %>