<%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="alert alert-danger col-sm-12" style="display: none;"><ul id="frmErrors"></ul></div>
            
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Blog Add</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    
                    <form id="frm" class="form-horizontal" method="post" action="/admin/blog/add">
                        <div class="box-body">
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blog Person</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="person_id" id="person_id">
                                    <option value="">Choose Person</option>
                                    <% persons.forEach(function(person){ %>
                                        <option value="<%= person.person_id %>"><%= person.first_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blog Title</label>
                            <div class="col-sm-10">
                                    <input type="text" name="title" class="form-control" id="title" placeholder="Title" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Blog Description</label>
                            <div class="col-sm-10">
                                <textarea name="description" class="form-control"></textarea>
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                
                            </div>
                        </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <!--<button type="submit" class="btn btn-default">Cancel</button>-->
                            <input type="button" class="btn btn-info pull-right" id="btnSave" value="Save">
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
        </div><!-- /.row -->

        
      </section><!-- /.content -->
    </div><!-- /.content-wrapper --> 
<%- include footer %>
<script>
    $(function () {
        $('#btnSave').click(function(){
            var submitForm = true;
            $('#frmErrors').html('');
            if($('select[name=person_id]').val() == ''){
                $('#frmErrors').append("<li>Please select blog person</li>").parent().show();
                submitForm = false;
            }

            if($('input[name=title]').val() == ''){
                $('#frmErrors').append("<li>Please enter blog title</li>").parent().show();
                submitForm = false;
            }

            if($('textarea[name=description]').val() == ''){
                $('#frmErrors').append("<li>Please enter blog description</li>").parent().show();
                submitForm = false;
            }

            if(submitForm){
                $('#frm').submit();
            } else {
                $('body').scrollTop(-1);
            }
        });
    });
</script>