<%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Family Add</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    <% if (message.length > 0) { %>
                        <div class="alert alert-danger col-sm-12"><%= message %></div>
                    <% } %>
                    <form class="form-horizontal" method="post" action="/admin/family/add">
                        <div class="box-body">
                        <div class="form-group">
                            <label for="inputFamilyName" class="col-sm-2 control-label">Family Name</label>
                            <div class="col-sm-10">
                            <input type="text" name="family_name" class="form-control" id="inputFamilyName" placeholder="Family Name" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                
                            </div>
                        </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <!--<button type="submit" class="btn btn-default">Cancel</button>-->
                            <button type="submit" class="btn btn-info pull-right">Save</button>
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
        </div><!-- /.row -->

        
      </section><!-- /.content -->
    </div><!-- /.content-wrapper --> 
<%- include footer %>