<%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <form id="frmPerson" class="form-horizontal" method="post" action="/admin/person/edit/<%= person_data.person_id %>" enctype="multipart/form-data">
            <!-- Info boxes -->
            <div class="row">
                <div class="alert alert-danger col-sm-12" style="display: none;"><ul id="frmErrors"></ul></div>
                <div class="col-md-6">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Personal Picture</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <input type="file" name="profilepic" id="profilepic" class="form-control" />
                                </div>
                            </div>
                            <!--
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                </label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="minimal" name="removeImage">
                                    <label>Remove the image</label>                                            
                                </div>
                            </div>
                            -->
                        </div>
                    </div>
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Geographic Information</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">City of birth</label>
                                <div class="col-sm-10">
                                    <select class="form-control" name="city_of_birth" id="city_of_birth">
                                        <option value="">Choose City</option>
                                        <% cities.forEach(function(city){ %>
                                            <option value="<%= city.city_id %>"><%= city.city_name %></option>
                                        <% }) %>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                </label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="minimal" name="place_of_birth">
                                    <label>Please of birth on map</label>                                            
                                </div>
                                <div id="gmap-geocoding" style="display:none">
                                    <input id="address" name="address" type="textbox" value="">
                                </div>                            
                                <div id="map" style="width:450px;height:300px;display:none"></div>
                                <input type=hidden name="birth_longitude" id="birth_longitude"/>
                                <input type=hidden name="birth_latitude" id="birth_latitude"/>
                                <input type=hidden name="birth_map_zoom" id="birth_map_zoom"/>
                            </div>
                        </div>
                    </div>

                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Links</h3>
                        </div><!-- /.box-header -->
                        <div class="box-body" id="divUrls">
                            <div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-10">
                                    <button type="button" id="btnUrlAdd" class="btn btn-info pull-right">Add a new link</button>
                                </div>
                            </div>
                            
                            
                            <!--
                                
                            <div class="form-group">
                                <label class="col-sm-2 control-label">
                                </label>
                                <div class="col-sm-10">
                                    <input type="checkbox" class="minimal" name="removeImage">
                                    <label>Remove the image</label>                                            
                                </div>
                            </div>
                            -->
                        </div>
                    </div>

                </div>
                <div class="col-md-6">                        
                    <!-- Horizontal Form -->
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Basic Information</h3>
                        </div><!-- /.box-header -->
                        <!-- form start -->
                        
                        
                            <div class="box-body">
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">The Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="first_name" class="form-control" id="first_name" placeholder="The Name" value="<%= person_data.first_name %>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">The Family</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="family" id="family">
                                            <option value="">Choose Family</option>
                                            <% families.forEach(function(family){ %>
                                                <option value="<%= family.family_name_id %>"><%= family.family_name %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Name of distinction</label>
                                    <div class="col-sm-10">
                                        <input type="text" name="name_of_distinction" class="form-control" id="name_of_distinction" placeholder="Name of distinction" value="<%= person_data.distinguish_name %>" >
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Parents</label>
                                    <div class="col-sm-10">
                                        <select class="form-control" name="parent" id="parent">
                                            <option value="">Choose Parent</option>
                                            <% parents.forEach(function(parent){ %>
                                                <option value="<%= parent.relationship_id %>"><%= parent.father %> - <%= parent.mother %></option>
                                            <% }) %>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                            
                                        
                                    </label>
                                    <div class="col-sm-10">
                                        <input type="checkbox" class="minimal" name="head_of_family">
                                        <label>Head Of Family</label>                                            
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Gender</label>
                                    <div class="col-sm-10">
                                        <input type="radio" name="gender" value="m" class="minimal" checked>
                                        <label>Male</label>
                                        <input type="radio" name="gender" value="f" class="minimal">
                                        <label>Female</label>
                                    </div>
                                </div>
                            </div><!-- /.box-body -->
                            
                            <div class="box-footer">
                                <!--<button type="submit" class="btn btn-default">Cancel</button>-->
                                <!--<button type="submit" class="btn btn-info pull-right">Save</button>-->
                            </div><!-- /.box-footer -->                    
                    </div><!-- /.box -->


                    <!-- Horizontal Form -->
                    <div class="box box-info">
                            <div class="box-header with-border">
                                <h3 class="box-title">Dates</h3>
                            </div><!-- /.box-header -->
                            <!-- form start -->
                            
                            
                                <div class="box-body">
                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Date of Birth</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="date_of_birth" class="form-control" value="<%= person_data.birth_month %>/<%= person_data.birth_day %>/<%= person_data.birth_year %>">    
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Birth time</label>
                                        <div class="col-xs-5">
                                            <select class="form-control" name="birth_hour"><option value="">Hour</option><option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option><option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option><option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option><option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option><option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option><option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option><option value="19"> 19 </option><option value="20"> 20 </option><option value="21"> 21 </option><option value="22"> 22 </option><option value="23"> 23 </option></select>
                                        </div>
                                        <div class="col-xs-5">
                                            <select class="form-control" name="birth_minute"><option value="">Minute</option><option value="1"> 1 </option><option value="2"> 2 </option><option value="3"> 3 </option><option value="4"> 4 </option><option value="5"> 5 </option><option value="6"> 6 </option><option value="7"> 7 </option><option value="8"> 8 </option><option value="9"> 9 </option><option value="10"> 10 </option><option value="11"> 11 </option><option value="12"> 12 </option><option value="13"> 13 </option><option value="14"> 14 </option><option value="15"> 15 </option><option value="16"> 16 </option><option value="17"> 17 </option><option value="18"> 18 </option><option value="19"> 19 </option><option value="20"> 20 </option><option value="21"> 21 </option><option value="22"> 22 </option><option value="23"> 23 </option><option value="24"> 24 </option><option value="25"> 25 </option><option value="26"> 26 </option><option value="27"> 27 </option><option value="28"> 28 </option><option value="29"> 29 </option><option value="30"> 30 </option><option value="31"> 31 </option><option value="32"> 32 </option><option value="33"> 33 </option><option value="34"> 34 </option><option value="35"> 35 </option><option value="36"> 36 </option><option value="37"> 37 </option><option value="38"> 38 </option><option value="39"> 39 </option><option value="40"> 40 </option><option value="41"> 41 </option><option value="42"> 42 </option><option value="43"> 43 </option><option value="44"> 44 </option><option value="45"> 45 </option><option value="46"> 46 </option><option value="47"> 47 </option><option value="48"> 48 </option><option value="49"> 49 </option><option value="50"> 50 </option><option value="51"> 51 </option><option value="52"> 52 </option><option value="53"> 53 </option><option value="54"> 54 </option><option value="55"> 55 </option><option value="56"> 56 </option><option value="57"> 57 </option><option value="58"> 58 </option><option value="59"> 59 </option></select>
                                        </div>                                        
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">Timezone</label>
                                        <div class="col-xs-3">
                                            <select class="form-control" name="birth_timezone"><option value="" selected="selected">Timezone</option><option value="-12"> 12. </option><option value="-11"> 11. </option><option value="-10"> 10- </option><option value="-9"> 09- </option><option value="-8"> 08- </option><option value="-7"> 07- </option><option value="-6"> 06- </option><option value="-5"> 05- </option><option value="-4"> 04- </option><option value="-3"> 03- </option><option value="-2"> 02- </option><option value="-1"> 01- </option><option value="0"> 00- </option><option value="1"> 01+ </option><option value="2"> 02+ </option><option value="3"> 03+ </option><option value="4"> 04+ </option><option value="5"> 05+ </option><option value="6"> 06+ </option><option value="7"> 07+ </option><option value="8"> 08+ </option><option value="9"> 09+ </option><option value="10"> 10+ </option><option value="11"> 11+ </option><option value="12"> 12+ </option></select>
                                        </div>
                                                                                
                                    </div>

                                    <div class="form-group">
                                        <label class="col-sm-2 control-label">
                                                
                                            
                                        </label>
                                        <div class="col-sm-10">
                                                <input type="checkbox" class="minimal" name="dead">
                                                <label>The person is deceased</label>
                                                
                                        </div>
                                    </div>

                                    <div class="form-group" id="divDateOfDeath" style="display: none;">
                                        <label class="col-sm-2 control-label">Date of Death</label>
                                        <div class="col-sm-10">
                                            <input type="date" name="date_of_death" class="form-control" value="<%= person_data.death_month %>/<%= person_data.death_day %>/<%= person_data.death_year %>" >    
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            
                                        </div>
                                    </div>
                                </div><!-- /.box-body -->                                
                        </div><!-- /.box -->

                    
            </div><!-- /.row -->
            <div class="row">                    
                <div class="col-md-12">
                    
                    
                        <div class="box box-info">
                                <div class="box-header with-border">
                                    <h3 class="box-title">Biography</h3>
                                </div><!-- /.box-header -->
                                <!-- form start -->
                                
                                
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label"></label>
                                            <div class="col-sm-10">
                                                <textarea name="biography" class="form-control"><%= person_data.biography %></textarea>
                                            </div>
                                        </div>
                                    </div>
                        </div>


                </div>
            </div>
            <div class="row">                    
                <div class="col-md-12">
                    <div class="box-footer">
                        <input type="button" class="btn btn-info pull-right" id="btnSave" value="Save">
                        <input type="hidden" name="person_id" value="<%= person_data.person_id %>" />
                    </div>
                </div>
            </div>
        </form>
      </section><!-- /.content -->
    </div><!-- /.content-wrapper -->     
<%- include footer %>
<script>
    $(function () {
        $('input[name=dead]').on('ifChanged', function(event){
            if(this.checked){
                $('#divDateOfDeath').show();
            } else {
                $('#divDateOfDeath').hide();
            }
        });

        $('input[name=place_of_birth]').on('ifChanged', function(event){
            var mapVisible = false;
            if(this.checked){
                mapVisible = true;
            }

            $("#gmap-geocoding").toggle(mapVisible);
            $("#map").toggle(mapVisible);
            
            //$("#birth_longitude").prop( "disabled", !mapVisible);
            //$("#birth_latitude").prop( "disabled", !mapVisible);
            //$("#birth_map_zoom").prop( "disabled", !mapVisible);
            if(mapVisible) {
                initMap();
            }
        });

        $('#btnUrlAdd').on('click', function(event){
            var html = `<div class="form-group">
                                <label class="col-sm-2 control-label"></label>
                                <div class="col-sm-1"><button type="button" id="btnUrlDel" class="btn btn-info pull-right">X</button></div>
                                <div class="col-sm-9">
                                    <input type="text" name="url" class="form-control" />                                    
                                </div>                                
                            </div>`;
            $('#divUrls').append(html);
        });

        $('#divUrls').on('click', 'button[id=btnUrlDel]', function(event){
            $(this).parent().parent().remove();
        });

        $('#btnSave').click(function(){
            var submitForm = true;
            $('#frmErrors').html('');
            if($('#first_name').val() == ''){
                $('#frmErrors').append("<li>Please enter name</li>").parent().show();
                submitForm = false;
            }

            if($('#family').val() == ''){
                $('#frmErrors').append("<li>Please choose family</li>").parent().show();
                submitForm = false;
            }

            if($('#parent').val() == ''){
                $('#frmErrors').append("<li>Please choose parents</li>").parent().show();
                submitForm = false;
            }

            if(submitForm){
                $('#frmPerson').submit();
            } else {
                $('body').scrollTop(-1);
            }
            
        });

        $('select[name=family]').val("<%= person_data.family_name_id %>");
        $('select[name=parent]').val("<%= person_data.parent_relationship_id %>");
        $('input[name=gender]').val("<%= person_data.gender %>");
        $('select[name=birth_hour]').val("<%= person_data.birth_hour %>");
        $('select[name=birth_minute]').val("<%= person_data.birth_minute %>");
        $('select[name=birth_timezone]').val("<%= person_data.birth_timezone %>");

    });
</script>
<script src="/dist/js/gmap.js">
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyARscWh9NqZDDmso5BItwsMC3rqqvretAA&callback=initMap">
</script>