<%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header">
                        <h3 class="box-title">Persons</h3>
                    </div><!-- /.box-header -->
                    <div class="box-body">
                        <table id="person_view" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Thumbnail</th>
                                    <th>Person Id</th>
                                    <th>Person Name</th>
                                    <th>Gender</th>
                                    <th>Parents Name</th>
                                    <th>Family Id</th>
                                    <th>Date Of Birth</th>
                                    <th></th>                                    
                                </tr>
                                </thead>
                                <tbody>
                                    <% data.forEach(function(person){ %>
                                        <tr>
                                            <td>
                                                <% if(person.hasThumb){ %>
                                                    <img src="/images/person/<%= person.person_id %>-thumb.jpg" width=50 />
                                                <% } %>
                                            </td>
                                            <td><%= person.person_id %></td>
                                            <td><%= person.first_name %></td>
                                            <td><%= person.gender %></td>
                                            <td>[Father (<%= person.father %>)] [Mother (<%= person.mother %>)]</td>
                                            <td><%= person.family_name %></td>
                                            <td><%= person.date_of_birth %></td>
                                            <td><a href="/admin/person/edit/<%= person.person_id %>">Edit</a></td>
                                        </tr>
                                    <% }) %>
                                </tbody>                                
                        </table>
                    </div>
                </div>
            </div>          
        </div><!-- /.row -->

        
      </section><!-- /.content -->
    </div><!-- /.content-wrapper --> 
<%- include footer %>