<%- include header %>
  <!-- Main component for a primary marketing message or call to action -->
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
      <!-- Main content -->
      <section class="content">
        <!-- Info boxes -->
        <div class="row">
            <div class="alert alert-danger col-sm-12" style="display: none;"><ul id="frmErrors"></ul></div>
            
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                <!-- Horizontal Form -->
                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Relationship Edit</h3>
                    </div><!-- /.box-header -->
                    <!-- form start -->
                    
                    <form id="frm" class="form-horizontal" method="post" action="/admin/relationship/edit/<%= data.relationship_id %>">
                        <div class="box-body">
                        
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Person 1</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="person_1" id="person_1">
                                    <option value="">Choose Person</option>
                                    <% males.forEach(function(person){ %>
                                        <option value="<%= person.person_id %>"><%= person.first_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-2 control-label">Person 2</label>
                            <div class="col-sm-10">
                                <select class="form-control" name="person_2" id="person_2">
                                    <option value="">Choose Person</option>
                                    <% females.forEach(function(person){ %>
                                        <option value="<%= person.person_id %>"><%= person.first_name %></option>
                                    <% }) %>
                                </select>
                            </div>
                        </div>
                            
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                
                            </div>
                        </div>
                        </div><!-- /.box-body -->
                        <div class="box-footer">
                            <!--<button type="submit" class="btn btn-default">Cancel</button>-->
                            <input type="button" class="btn btn-info pull-right" id="btnSave" value="Save">
                            <input type="hidden" name="relationship_id" value="<%= data.relationship_id %>" />
                        </div><!-- /.box-footer -->
                    </form>
                </div><!-- /.box -->
        </div><!-- /.row -->

        
      </section><!-- /.content -->
    </div><!-- /.content-wrapper --> 
<%- include footer %>
<script>
    $(function () {
        $('#btnSave').click(function(){
            var submitForm = true;
            $('#frmErrors').html('');
            if($('select[name=person_1]').val() == ''){
                $('#frmErrors').append("<li>Please select person 1</li>").parent().show();
                submitForm = false;
            }

            if($('select[name=person_2]').val() == ''){
                $('#frmErrors').append("<li>Please select person 2</li>").parent().show();
                submitForm = false;
            }

            if(submitForm){
                $('#frm').submit();
            } else {
                $('body').scrollTop(-1);
            }
        });

        $('select[name=person_1]').val("<%= data.person1_id %>");
        $('select[name=person_2]').val("<%= data.person2_id %>");
    });
</script>